.wrapperpadding{
		margin-top: 60px;
    /* padding:15px 0px; */
}
#weeklytimesheetheading{
    color:red;
}

/* css for heading */
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {   /* medium and large screen is covered */
	.headingclass {
	  font-size: 30px;
	}
	.weeklyheadingclass {
		font-size: 20px;
	}
  }

  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {  /* small and extra small screen is covered */
	.headingclass {
		font-size: 20px;
	  }
	  .weeklyheadingclass {
		  font-size: 10px;
	  }
  }

.buttoncontainer {
	padding:50px;
}

.timesheettablediv{
	overflow: auto;
	width:100%;
	margin:5px;
}

 /* for display view in a horizontal format */
.wrapper{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-centered{
  float: none;
  margin: 0 auto;
  position: center;
  margin-top: 30%;
}

 /* for stakeholder table */
 .table th, .table td{
	 padding: 0.75rem 0 0.75rem 0.75rem;
 }


  /* header css */
 .header img {
	float: left;
	background: #555;
  }
  
  .header h6 {
	position: relative;
	top: 18px;
	left: 10px;
	font-size: 40px;
	text-align: right;
	margin-right: 30px;
}

.responsive{
	width: 100%;
	max-width:400px;
	margin-top: 10px;
	height:auto;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #00303c;
	color: white;
	text-align: center;
}

.col-centered
{
	margin-top: 20% !important
}