<!-- svam image header-->
<div class="header">
    <img src="../assets/imgs/svam.png" alt="SVAM INC" class="responsive" width="800" height="400">

    <h6>WEEKLY TIMESHEET </h6>
</div>



<div class="wrapper wrapperpadding">
    <div class="container">
        <div *ngIf="!showTimesheetOfSelectedUser" class="col-md-6 centered text-center col-centered">
            <p>
                <select name="resource" class="form-control" [(ngModel)]="selectedResourceValue" (change)="getSelectedResourceValue()">
                    <option value="undefined" selected disabled>Select the resource name</option>
                    <option *ngFor="let resource of resources" [ngValue]="resource">{{resource.userName}}</option>
                </select>
            </p>

            <div>
                <input #otp *ngIf="showOtpInput" class="form-control" [(ngModel)]="otpValue" (keydown)="checkForOtpLength(otp,$event)" placeholder="Enter OTP Sent To Your Teach For America Mail Id">
               
                <div style="padding:15px;">
                    <button  class="btn btn-success" *ngIf="showOtpInput"  style="cursor:pointer;margin:5px;" (click)="validateOtp($event)">Validate Otp</button>
                    <button  class="btn btn-danger" *ngIf="showOtpInput"  style="cursor:pointer;margin:5px;" (click)="getSelectedResourceValue()">Resend Otp</button>
                </div>
            </div>



            <div>
                <label style="color:green;" *ngIf="otpSuccessMessage">{{otpSuccessMessage}}</label>
                <label style="color:red;" *ngIf="otpFailMessage">{{otpFailMessage}}</label>
            </div>

        </div>
    </div>
</div>
<div id="timesheetouterdiv" *ngIf="showTimesheetOfSelectedUser">
    <div class="wrapper">
        <!-- first column of row -->
        <!-- second column of row -->
        <div class="col-md-9" style="background-color:#00303c; color:#ffffff">
            <div class="row">
                <div class="col-md-4">
                    <p>Resource Name
                        <input type="text" class="form-control" [(ngModel)]="selectedResourceValue.userName" readonly>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>Name of the Project
                        <input type="text" class="form-control" value="Teach For America" readonly>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>Select Date:
                        <p-calendar readonlyInput="true" class="form-control" [disabledDays]="[0,2,3,4,5,6]" [(ngModel)]="startDate" (onSelect)="getWeekFromDate(startDate)"></p-calendar>
                    </p>
                </div>
            </div>
            <div class="timesheettablediv" style="width:100%">
                <table style="width:100%;" class="taskstable">
                    <thead>
                        <tr>
                            <th style="width:15%;text-align:center">Task Name</th>
                            <th style="width:15%;text-align:center">Description</th>
                            <th style="width:10%" *ngFor="let date of dates">{{date}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tasks of timesheetArray; let i = index">
                            <td>
                                <!-- <select class="form-control" [(ngModel)]="tasks.taskName" [disabled]="isReadOnlyForTimesheetRow">
                                    <option value="" selected disabled>Select the Task</option>
                                    <option *ngFor="let task of tasksData" [ngValue]="task.taskName">{{task.taskName}}</option>
                                </select> -->
                                <input id="typeahead-basic" placeholder="Task Name" type="text" class="form-control" [(ngModel)]="tasks.taskName" [ngbTypeahead]="searchForTaskName"
                                    [disabled]="isReadOnlyForTimesheetRow" />
                            </td>
                            <td>
                                <!-- (blur)="checkTaskValidation(tasks.taskDescription,'taskDescription',i)" -->

                                <input class="form-control" placeholder="Description" type="text" [(ngModel)]="tasks.taskDescription" name="" [readonly]="isReadOnlyForTimesheetRow"
                                    (focus)="expandDescriptionOnFocus($event)" (blur)=descriptionBoxBackToNormal($event) />

                            </td>
                            <td>
                                <input class="form-control firstDate" id="firstDateHour" (keypress)=checkNoOfDigitsInHours($event) placeholder="hours" (keyup)="checkHours($event,tasks.dayOneHours,'dayOneHours',i)"
                                    type="text" [(ngModel)]="tasks.dayOneHours" name="" [readonly]="isReadOnlyForTimesheetRow"
                                />
                            </td>
                            <td>
                                <input class="form-control secondDate" id="secondDateHour" (keypress)=checkNoOfDigitsInHours($event) placeholder="hours"
                                    (keyup)="checkHours($event,tasks.dayTwoHours,'dayTwoHours',i)" type="text" [(ngModel)]="tasks.dayTwoHours"
                                    name="" [readonly]="isReadOnlyForTimesheetRow" />
                            </td>
                            <td>
                                <input class="form-control thirdDate" id="thirdDateHour" (keypress)=checkNoOfDigitsInHours($event) placeholder="hours" placeholder="hours"
                                    (keyup)="checkHours($event,tasks.dayThreeHours,'dayThreeHours',i)" type="text" [(ngModel)]="tasks.dayThreeHours"
                                    name="" [readonly]="isReadOnlyForTimesheetRow" />
                            </td>
                            <td>
                                <input class="form-control fourthDate" id="fourthDateHour" (keypress)=checkNoOfDigitsInHours($event) placeholder="hours"
                                    placeholder="hours" placeholder="hours" (keyup)="checkHours($event,tasks.dayFourHours,'dayFourHours',i)"
                                    type="text" [(ngModel)]="tasks.dayFourHours" name="" [readonly]="isReadOnlyForTimesheetRow"
                                />
                            </td>
                            <td>
                                <input class="form-control fifthDate" id="fifthDateHour" (keypress)=checkNoOfDigitsInHours($event) placeholder="hours" (keyup)="checkHours($event,tasks.dayFiveHours,'dayFiveHours',i)"
                                    type="text" [(ngModel)]="tasks.dayFiveHours" name="" [readonly]="isReadOnlyForTimesheetRow"
                                />
                            </td>
                            <td>
                                <input class="form-control sixthDate" id="sixthDateHour" (keypress)=checkNoOfDigitsInHours($event) placeholder="hours" (keyup)="checkHours($event,tasks.daySixHours,'daySixHours',i)"
                                    type="text" [(ngModel)]="tasks.daySixHours" name="" [readonly]="isReadOnlyForTimesheetRow"
                                />
                            </td>
                            <td>
                                <input class="form-control seventhDate" id="seventhDateHour" (keypress)=checkNoOfDigitsInHours($event) placeholder="hours"
                                    (keyup)="checkHours($event,tasks.daySevenHours,'daySevenHours',i)" type="text" id="" [(ngModel)]="tasks.daySevenHours"
                                    name="" [readonly]="isReadOnlyForTimesheetRow" />
                            </td>
                            <td>
                                <button id="addrowbuttonid" style="box-shadow: none;background-color:#00303c;border-color:#00303c;" *ngIf="i==0" class="btn btn-default btn-success"
                                    type="button" (click)="addRow()" [disabled]="addAndEditButtonDisable">
                                    <i style="color:green;" class="fa fa-plus" aria-hidden="true"></i>
                                </button>


                                <button style="background-color:#00303c;border-color:#00303c;" *ngIf="i>0" class="btn btn-default btn-danger" type="button"
                                    (click)="deleteFieldValue(i)" [disabled]="addAndEditButtonDisable">
                                    <i style="color:red;" class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>


                        <tr>
                            <td colspan="2">
                                Total Timesheet Hours
                            </td>
                            <td>
                                <input class="form-control" placeholder="Total" id="firstdatetotal" type="text" [(ngModel)]="firstDateTotal" name="" readonly
                                />
                            </td>
                            <td>
                                <input class="form-control" placeholder="Total" id="seconddatetotal" type="text" [(ngModel)]="secondDateTotal" name="" readonly
                                />
                            </td>
                            <td>
                                <input class="form-control" placeholder="Total" id="thirddatetotaleHour" type="text" [(ngModel)]="thirdDateTotal" name=""
                                    readonly/>
                            </td>
                            <td>
                                <input class="form-control" placeholder="Total" id="fouthdatetotal" type="text" id="" [(ngModel)]="fourthDateTotal" name=""
                                    readonly/>

                            </td>
                            <td>
                                <input class="form-control" placeholder="Total" id="fifthdatetotal" type="text" id="" [(ngModel)]="fifthDateTotal" name=""
                                    readonly/>
                            </td>
                            <td>
                                <input class="form-control" placeholder="Total" id="sixthdatetotal" type="text" id="" [(ngModel)]="sixthDateTotal" name=""
                                    readonly/>

                            </td>
                            <td>
                                <input class="form-control" placeholder="Total" id="seventhdatetotal" type="text" id="" [(ngModel)]="seventhDateTotal" name=""
                                    readonly/>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>



            <div class="row" style="padding:50px 0px 0px 0px">
                <div class="col-md-6">
                    <p>Total Weekly Hours
                        <input id="totalweeklyhours" [value]="totalWeeklyHours" class="form-control" type="text" readonly>
                    </p>
                </div>
            </div>
            <div>
                <label style="color:red;" *ngIf="validationMessageForMandatoryTaskName">Task Name is Mandatory</label>
                <label style="color:red;" *ngIf="hourValidationMessage">Hours Cannot be greater than 24</label>
                <label style="color:red;" *ngIf="EmailIdExistMessage">Email Id Aready Exist</label>
                <label style="color:red;" *ngIf="emailAddressNotValidated">{{emailAddressNotValidated}}</label>
                <!-- <label style="color:green;" *ngIf="message">{{message}}</label> -->
                <label style="padding:0px;" *ngIf="message" class="alert alert-success">{{message}}</label>

            </div>

        </div>


        <!-- third column of row -->
        <div class="col-md-3">

            <div style="margin:10px 0px;">
                <label style="display:inline">Project Manager Name</label>
                <div class="input-group">
                    <div class="input-group">
                        <input id="managername" type="text" class="form-control" [(ngModel)]="selectedResourceValue.managerEmail" [readonly]="isManagerReadOnly"
                        />
                        <span class="input-group-btn" style="padding:10px;">
                            <span style="cursor:pointer;" *ngIf="managerEditButtonShowHide" id="clientmanagereditbutton" (click)="hideManagerEditButton()"
                                class="edit-button">{{editIcon}}</span>
                            <span style="cursor:pointer;" *ngIf="managerUpdateButtonShowHide" id="clientmanagerupdatebutton" (click)="hideManagerUpdateButton()"
                                class="update-button">{{check}}</span>
                        </span>
                    </div>
                </div>
            </div>

            <div style="margin:10px 0px;">
                <label style="display:inline">Client Manager Name</label>
                <div class="input-group">
                    <input id="clientmanagername" type="text" class="form-control" [(ngModel)]="selectedResourceValue.clientEmail" [readonly]="isClientReadOnly"
                    />
                    <span class="input-group-btn" style="padding:10px;">

                        <span style="cursor:pointer;" *ngIf="clientEditButtonShowHide" id="clientmanagereditbutton" (click)="hideClientEditButton()"
                            class="edit-button">{{editIcon}}</span>


                        <span style="cursor:pointer;" *ngIf="clientUpdateButtonShowHide" id="clientmanagerupdatebutton" (click)="hideClientUpdateButton()"
                            class="update-button">{{check}}</span>

                    </span>
                </div>
            </div>

            <div style="margin:10px 0px;">
                <label style="display:inline">Client Manager Email</label>
                <div class="input-group">
                    <input id="clientmailid" type="text" class="form-control" [(ngModel)]="selectedResourceValue.clientMailAdd" [readonly]="isClientEmailReadOnly"
                    />
                    <span class="input-group-btn" style="padding:10px;">

                        <span style="cursor:pointer;" *ngIf="clientEmailEditButtonShowHide" (click)="hideClientEmailEditButton()" class="edit-button">{{editIcon}}</span>


                        <span style="cursor:pointer;" *ngIf="clientEmailUpdateButtonShowHide" (click)="hideClientEmailUpdateButton($event)" class="update-button">{{check}}</span>

                    </span>
                </div>
            </div>

            <div style="margin:10px 0px;">
                <label style="display:inline">User Email</label>
                <div class="input-group">
                    <input id="usermailid" type="text" class="form-control" [(ngModel)]="selectedResourceValue.userMailAdd" [readonly]="isUserEmailReadOnly"
                    />
                    <span class="input-group-btn" style="padding:10px;">

                        <span style="cursor:pointer;" *ngIf="userEmailEditButtonShowHide" (click)="hideUserEmailEditButton()" class="edit-button">{{editIcon}}</span>


                        <span style="cursor:pointer;" *ngIf="userEmailUpdateButtonShowHide" (click)="hideUserEmailUpdateButton($event)" class="update-button">{{check}}</span>

                    </span>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>StakeHolders Email</th>
                </tr>
                <tbody>
                    <tr *ngFor="let stakeholderEmail of selectedResourceValue.stakeholdersEmail">
                        <td>{{stakeholderEmail}}</td>
                        <!-- <button class="btn btn-default btn-danger" type="button" (click)="deleteStakeHolderEmail(stakeholderEmail)">Delete</button> -->
                        <td>
                            <span style="cursor:pointer;color:red;" (click)="deleteStakeHolderEmail(stakeholderEmail)">
                                <i style="color:red;" class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <form (ngSubmit)="submit(userform)" #userform="ngForm">
                <label>Add StakeHolder Email</label>
                <div class="input-group">
                    <input required class="form-control" id="stakeholderEmail" name="emailaddress" #emailaddress="ngModel" pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"
                        ngModel [(ngModel)]="stakeholderEmail" type="text">
                    <span class="input-group-btn">
                        <button style="background-color: white;border:none;" class="btn btn-default btn-success add-stakeholder" (click)="addEmail()"
                            [disabled]="!userform.valid" type="submit">
                            <i style="color:green;" class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                <div *ngIf="!emailaddress.valid && emailaddress.touched">
                    <p *ngIf="emailaddress?.errors?.pattern" style="color:red">Invalid Email Address</p>
                </div>
            </form>
        </div>


    </div>

    <div class="wrapper" style="padding:15px 0px 0px 0px;">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <button *ngIf="saveButtonVisibility" style="background-color: #00303c;color:white;margin:10px;" id="btnSave" class="btn btn-md center-block"
                (click)="saveTimesheet()">
                <i class="fa fa-cloud" aria-hidden="true"></i> Save Timesheet</button>
            <button *ngIf="editButtonVisibility" style="margin:10px;" (click)="toggleButton()" id="btnSave" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil"></span>{{editIcon}} Edit Timesheet</button>
            <button class="btn btn-primary btn-md center-block" style="margin:10px;" (click)="exportToExcel()">
                <i class="fa fa-download" aria-hidden="true"></i> Generate Excel Sheet</button>
            <button class="btn btn-primary btn-md center-block btn-danger" style="margin:10px;" (click)="sendMail(content)">
                <span class="glyphicon glyphicon-envelope"></span>{{mailIcon}} Send In Mail</button>
            <!-- <button class="btn btn-primary btn-md center-block btn-danger" style="margin:10px;" (click)="redirectToReports()">Generate Reports</button> -->
        </div>
        <div class="col-md-3">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

</div>




<div class="wrapper footer">
    <div class="col-md-12">
        <p style="margin:0px;">Developed by Sanchit Aggarwal / Innovation By Tanuj Kathuria</p>
    </div>
</div>




<ng-template id="hideDiv" #content let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Send Email</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="useremail">User Email</label>
                <div class="input-group">
                    <!-- <input id="to" class="form-control" placeholder="To" name="clientmailid" #clientmailid="ngModel" [(ngModel)]="clientMailId"> -->
                    <input id="useremail" #useremail name="useremail" class="form-control" placeholder="from" [(ngModel)]="userMailId" readonly>
                </div>
                <!-- <div>
                    <span *ngIf="invalidEmailMessageForUser">Invalid Email Address</span>
                </div> -->
            </div>

            <div class="form-group">
                <label for="userpassword">User Password</label>
                <div class="input-group">
                    <!-- <input id="to" class="form-control" placeholder="To" name="clientmailid" #clientmailid="ngModel" [(ngModel)]="clientMailId"> -->
                    <input id="userpassword" type="password" #userpassword name="userpassword" class="form-control" placeholder="password" (blur)="showPasswordValidationMessageIfEmpty($event)"
                        [(ngModel)]="userPasswordForEmail" (keyup)="checkPasswordLength($event)">
                </div>
                <div>
                    <span *ngIf="emptyPasswordMessage">Password Should not be Empty</span>
                </div>

            </div>

            <div class="form-group">
                <label for="clientemail">Client Email</label>
                <div class="input-group">
                    <!-- <input id="to" class="form-control" placeholder="To" name="clientmailid" #clientmailid="ngModel" [(ngModel)]="clientMailId"> -->
                    <input id="clientemail" #clientemail name="clientemail" class="form-control" placeholder="To" [(ngModel)]="clientMailId"
                        readonly>
                </div>
                <!-- <div>
                    <span *ngIf="emailValidationMessageForClient">Invalid Email Address</span>
                </div> -->
            </div>
            <div class="form-group">
                <label for="cc">Stakeholders Email (Cc)</label>
                <div class="input-group">

                    <input id="cc" class="form-control" placeholder="Cc" name="ccemailaddress" #ccemailaddress="ngModel" [(ngModel)]="ccEmailAddresses"
                        readonly>

                </div>
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <div class="input-group">

                    <input id="subject" class="form-control" placeholder="subject" name="subject" #subject="ngModel" [(ngModel)]="mailSubject"
                        readonly>
                    <!-- <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                            </button>
                          </div> -->
                </div>
            </div>
            <div class="form-group">
                <label for="mailbody">Mail Body</label>
                <div class="input-group">
                    <div readonly [innerHTML]="emailTemplate"></div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="mailSent()" [disabled]="invalidMailAddress">Send</button>
    </div>

</ng-template>